/* This is the global styling for the website */

body {
width: 100%;
height: 100%;
overflow: hidden;

}

.main {
width: 100%;
height: 100%;
overflow: hidden;
}

.content {
  overflow-x: hidden;
  overflow-y: auto;
}

/* Scrollbar Stylings */

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #2B502F;
}

/* Button */
::-webkit-scrollbar-button {
  display: none;
}

/* Navbar Stylings */
.Navbar {
  margin-top: -20px;
  margin-left: -20px;
  margin-right: -20px;
  margin-bottom: 20px;
  width: calc(100% + 40px);
  height: 73px;
  border-bottom: solid;
  border-top: none;
  border-left: none;
  border-right: none;
  background-color: #ffe97f;
}

.sticky {
  position: fixed;
  top: 20px;
  height: 73px;
}

/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.nav-dropdown .nav-dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Dropdown content (hidden by default) */
.nav-dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.nav-dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.nav-dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.nav-dropbtn:hover + .nav-dropdown-content {
  display: block;
}


/* Sidebar Stylings */
.Sidebar {
float: left;
position: fixed;
width: 300px;
height: 100vh;
background-color: #446948;
z-index: 9;
color: black;
}

.Sidebar a {
  color: inherit;
}

.Sidebar a:hover {
  color: #779C7B;
  text-decoration: none;
}

.sidebar-row {
  margin-top: 132px;
  margin-left: 0;
  margin-right: 0;
  max-height: calc(100% - 230px);
  overflow-x: hidden;
  overflow-y: auto;
}

.Sidebar.collapsed {
  width: 20px;
}

.content {
float: left;
width: calc(100% - 300px);
height: 100%;
max-height: 100vh;
margin-left: 300px;
min-height: 100vh;
background-color: #f2f3f4;
padding: 20px;
}

.content.leftCollapse {
  width: calc(100% - 20px);
  margin-left: 20px;
}


/* Needs to be reconfigured
@media(max-width:1200px ){
    .Sidebar-Left {
        display: none;
    }
    .Sidebar-Right {
        display: none;
    }
    .content {
        width: 100%;
        margin: 0;
    }
}
*/

/* Style the button that is used to open and close the collapsible content */
.collapsible {
  background-color: transparent;
  cursor: pointer;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: solid;
  width: 100%;
  outline: none;
  text-align: left;
  font-size: 24px;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 20px;
  padding-bottom: 10px;
}

.collapsible.active {
  padding-bottom: 0;
  border-bottom: none;
}

.collapsible.active + .collapse-content {
  border-bottom: solid;
}


  
/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
  background-color: transparent;
}

button:focus.collapsible {
  outline: none;
}

.collapsible:after {
  content: '\002B';
  color: white;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}

/* Style the collapsible content. Note: hidden by default */
.collapse-content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: transparent;
}

ul.collapse-content-list {
  padding-left: 10px;
  list-style-position: inside;
}

.collapse-sidebar-button {
  position: absolute;
  top: calc(50% - 100px);
  right: 0;
  height: 200px;
  width: 20px;
  margin-right: -20px;
  border-left: solid;
  border-top: none;
  border-bottom: none;
  border-right: none;
  border-width: 2px;
  background-color: #446948;
  border-bottom-right-radius: 100px;
  border-top-right-radius: 100px;
  justify-content: center;
  align-items: center;
  padding: 0;
  font-size: 24px;
  font-weight: 1000;
}

.collapse-sidebar-button::before {
  content: "\003c";
}

.button-collapsed::before {
  content: "\003e";
}

.collapse-sidebar-button:hover {
  background-color: #2B502F;
}

.collapse-sidebar-button:focus{
  outline: none;
}
.profile-menu {
  display: flex;
  justify-content: left;
  align-items: center;
  border-bottom: solid;
  margin-bottom: 10px;
  height: 73px;
}

.profile-icon {
  border: solid;
  border-width: 2px;
  border-color: black;
  border-radius: 10px;
  height: 50px;
  width: 50px;
  margin: 10px;
}

.profile-name {
  font-size: 24px;
  padding-right: 10px;
}

.top-menu {
  top: 0;
  position: absolute;
  width: 100%;
  margin: 0;
}

.bottom-menu {
  bottom: 0;
  position: absolute;
  width: 100%;
  margin: 0;
}

.add-menu {
  border-bottom: solid;
  height: 49px;
}

.logout-menu {
  border-bottom: solid;
  border-top: solid;
  height: 49px;
}

.help-menu {
  height: 49px;
}

.add-button {
  width: 100%;
  color: black;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-button span {
  font-size: 24px;
}

.dropdown-menu-custom {
  overflow-x: hidden;
  overflow-y: auto;
}
