.banner-wrapper
{
    width: calc(100% + 40px);
    height: 75vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../../assets/img/hero/lily-banse--YHSwy6uqvk-unsplash.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    margin-top: -20px;
    margin-left: -20px;
    margin-right: -20px;
    margin-bottom: 20px;
    color: #f9f9f9;
}

.widget-area
{
    padding-left: 15px;
    padding-right: 15px;
}

.widget-wrapper
{
    border: solid;
    border-width: 2px;
    border-radius: 5px;
    border-color: #E7E9EB;
    margin-bottom: 20px;
}

.widget-header
{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E7E9EB;
}

.widget-body
{
    padding: 15px;
}

.widget-entry
{
    display: flex; 
    flex-direction: column;
}